<side-bar>
  <span style="cursor: pointer" (click)="close()">&#x274C;</span>
  <h1>Tab viewer</h1>
  <tab-bar [routes]="viewer.Routes.all">
    <tab [route]="RoutePaths.tab1">Tab 1</tab>
    <tab >Tab 2</tab>
    <tab [route]="RoutePaths.tab3">Tab 3</tab>
  </tab-bar>
</side-bar>
