.tab {
    border: 1px solid #BBB;
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: poinetr;
    text-decoration: none;
    color: #000;
    &.active {
        border-bottom: 3px solid #06a;
    }
    &.disabled {
        pointer-events: none;
        cursor: default;
        color: #aaa
    }
}
