:host {
    .sidebar {
        position: fixed;
        top: 0;
        height: 99vh;
        width: 50vw;
        margin: 0 0 5px 5px;
        background-color: white;
        z-index: 999;
        box-shadow: -5px 5px 10px 0 rgba(0,0,0,0.5);
        &.open {
            right: 0;
        }
        &.closed {
            right: calc(-50vw - 5px);
        }
    }
}
